.container {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: left;
  justify-items: left;
  margin: 5% 5% 5% 5%;
}

.main {
  width: 90%;
}

// Mobile
@media (max-width: 768px) {
  .container {
    grid-template-columns: auto;
  }
}
