<mat-toolbar class="mat-elevation-z6">
  <button (click)="toggleSidenav()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['/']"><img alt="Orvium Logo" src="https://assets.orvium.io/logo/orvium_logo_min.png" width="30em">
  <h2 class="primary"><strong>Orvium UX</strong></h2></a>
  <div class="flex-spacer"></div>
  <button (click)="changeTheme()" aria-label="Select a theme" mat-icon-button
          matTooltip="Select a theme for the documentation">
    <mat-icon>format_color_fill</mat-icon>
  </button>
</mat-toolbar>
